<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <meta charset="UTF-8">
    <title>GenerateFakeData</title>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body class="gradient-custom-3">
    <div class="container">
        <div class="card" style="max-height: 500px">


            <div class="card-body text-center">
                <div class="row">
                    <div class="col">
                        <input id="errorNumber" type="text" class="form-control" placeholder="Errors 0-1000"
                               aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                    <div class="col">
                        <input id="errorRange" type="range" class="form-control" min="0" max="10" step="0.25"
                               placeholder="Errors"
                               aria-label="Recipient's username" aria-describedby="basic-addon2" value="0">
                    </div>
                    <div class="col">
                        <input id="seed" type="text" class="form-control" placeholder="Seed"
                               aria-label="Recipient's username" aria-describedby="basic-addon2">
                    </div>
                    <h5 class="card-title mb-0 col">Generate Fake Data</h5>
                    <div class="col">
                        <select id="region" class="form-select">
                            <option value="fr">France</option>
                            <option value="uk">Ukraine</option>
                            <option value="en_US">USA</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark" style="position: sticky;top: 0">
                    <tr>
                        <th scope="col">Index</th>
                        <th scope="col">Identifier</th>
                        <th scope="col">Full name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Phone</th>
                    </tr>
                    </thead>
                    <tbody class="customtable new_rows" >

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <tr th:each="row : ${table}" th:fragment="new_rows">
        <td th:text="${row.index}"></td>
        <td th:text="${row.identifier}"></td>
        <td th:text="${row.fullName}"></td>
        <td th:text="${row.address}"></td>
        <td th:text="${row.phone}"></td>
    </tr>

<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script th:src="@{/js/main.js}"> </script>
</body>
</html>